<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Orca08.Properties.Settings.masterConnectionString"
            connectionString="Data Source=pmc0091srvsipa1;Initial Catalog=Orca;User ID=scoop;Password=scoop"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>